.title-container div {
    font-size: larger;
    font-weight: bold;
}

/* .background-container{
    height: 100%;
    width: 100%;
} */

.background-container>iframe {
    height: 100%;
    width: 100%;
}

#base {
    background: red;
    display: inline-block;
    height: 55px;
    margin-left: 20px;
    margin-top: 55px;
    position: relative;
    width: 100px;
}

#base:before {
    border-bottom: 35px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -35px;
    width: 0;
}


/* .main-contents-container .no-more-foot::before{
    content: '';
    display: inline-block;
    background-color: red;
    height: 1px;
    position: absolute;
} */